
<ion-view view-title="Login"  ng-controllerz="loginCtrl">
  <ion-header-bar class="bar-calm">
    <h1 class="title">ShareUp</h1>

    <button class="button button-icon" ng-click="redirectToRegistration()">Register
      <i class="icon ion-person-add"></i>
    </button>
  </ion-header-bar>
  <ion-content padding="true" class="has-header">

    <form>
      <label class="item item-input" name="Uname">
        <span class="input-label">Username</span>
        <input id="txt_Uname" type="text" placeholder="User Name"ng-model="data.username" >
      </label>
      <label class="item item-input" name="Pwd">
        <span class="input-label">Password</span>
        <input id="txt_Pwd" type="password" placeholder="Password" ng-model="data.password">
      </label>
      <br />

      <button class="button button-calm button-block button-shape" style="float:right" ng-click="login()">Login</button>
      <button class="button button-calm button-block button-shape" ng-click="facebookSignIn()">
        <i class="icon ion-social-facebook-outline">

        </i>
        Login with facebook
      </button>
      <button class="button button-calm button-block button-shape" ng-click="googleSignIn()">
        <i class="icon ion-social-googleplus-outline">

        </i>
        Sign in with Google
      </button>
    </form>

  </ion-content>
</ion-view>
