<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>maps</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvG1scpDSBFT7Is9pS3w_JeWqcCHUgFT8"></script>
  <script src="cordova.js"></script>
  <script src="js/app1.js"></script>
  <style>
    html, body {
      height: 100%;
    }
  </style>
</head>
<body ng-app="mapsapp">

<div ng-controller="mapsctrl" style="height:100%; width:100%;">
  <input type="text" ng-model="text1">
  <input type="submit" ng-click="mapg()">

  <div id="map" style="height:60%; width:60%;">

  </div>
  <div ng-repeat="dis in disp1">

    Name:{{dis.Name}}
    Address:{{dis.Address}}

  </div>
</div>

</body>
</html>
